{
  "openapi": "3.0.0",
  "info": {
    "title": "Profsoyuzy API",
    "version": "1.0.0",
    "description": "API для создания и управления пользователями профсоюзов"
  },
  "servers": [
    {
      "url": "https://bestbenefits.ru"
    }
  ],
  "paths": {
    "/api/profsoyuzy/create_user": {
      "post": {
        "summary": "Создание нового пользователя",
        "operationId": "createUser",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email",
                  "password"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Иван Иванов"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "ivan@example.com"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 6,
                    "maxLength": 100,
                    "example": "qwerty123"
                  },
                  "city_id": {
                    "type": "integer",
                    "nullable": true,
                    "example": 12
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Пользователь создан",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Пользователь создан"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Ошибка бизнес-логики (лимит и пр.)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Ошибка описана здесь"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Ошибка описана здесь"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Ошибка проверки",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Ошибка проверки"
                    },
                    "errors": {
                      "type": "object",
                      "example": {
                        "email": [
                          "Email обязателен для заполнения"
                        ],
                        "password": [
                          "Пароль обязателен для заполнения"
                        ],
                        "city_id": [
                          "Указанный город не найден в базе"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Ошибка описана здесь"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/profsoyuzy/change_status": {
      "post": {
        "summary": "Изменение статуса пользователя (блокировка, разблокировка, удаление)",
        "operationId": "changeStatus",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "status"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "ivan@example.com"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "block",
                      "unblock",
                      "delete"
                    ],
                    "example": "block"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Статус пользователя обновлён",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "block"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Ошибка описана здесь"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Пользователь не найден",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Ошибка описана здесь"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Ошибка проверки",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Ошибка проверки"
                    },
                    "errors": {
                      "type": "object",
                      "example": {
                        "email": [
                          "Неверный формат email"
                        ],
                        "status": [
                          "Неверный статус"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Ошибка описана здесь"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}